{% extends "base.html" %}
{% block content %}
<!-- create templates/index.html -->
<div class="card mb-3 mx-auto p-3 mt-2" style="max-width: 440px;">
    <div class="row g-0">
        <div class="col-mx-4">
            <img src="{{ url_for('static', filename='images/bee.webp') }}"
                class="img-fluid rounded-start" alt="Bee on a broomstick">
        </div>
        <div class="col-md-15">
            <div class="card-body text-bg-dark p-3">
                <h5 class="card-title">Welcome to ZCleaning!</h5>
                <p class="card-text">
                    {% if is_logged_in %}
                    <button type="button" class="btn btn-outline-warning">
                        <a href="{{ url_for('dashboard') }}" class="a_link">Manage Account</a>
                    </button>
                    {% else %}
                    <p>Please log in to manage your account.</p>
                    <button type="button" class="btn btn-outline-warning">
                        <a href="{{ url_for('login') }}" class="a_link" title="Login">Login</a>
                    </button>
                    
                    <p style="margin-top: 10px;"><small>Don't have an account? <a href="{{ url_for('register') }}" class="r_link" title="Register">Register</a></small></p>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}