{% extends "base.html" %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-3 mb-10">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}" class="curr_page">Dashboard</a>></li>
        <li class="breadcrumb-item"><a href="{{ url_for('view_reports') }}">View
                Reports</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('add_client') }}">Add Client</a></li>
        
        <li class="breadcrumb-item"><a href="{{ url_for('search_client') }}">Search Client</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('client_schedule') }}">Client Schedule</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Employees</li>
    </ol>
</nav>

<div class="mt-4">
    <h4 class="m-3">Manage Employees</h4>
    <div class="d-grid gap-3"
        style="grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));">
        {% for employee in employees %}
        <div class="card shadow-sm">
            <div class="card-body lt-color">
                <h5 class="card-title">{{ employee.first_name }} {{
                    employee.last_name }}</h5>
                <hr>
                <p class="card-text"><strong>Hire Date:</strong> {{
                    employee.hire_date }}</p>
                <p class="card-text"><strong>Hourly Pay Rate:</strong> ${{
                    employee.hourly_pay_rate }}</p>
                <p class="card-text"><strong>Phone Number:</strong> {{
                    employee.formatted_phone_number }}</p>
                <p class="card-text"><strong>Address:</strong> {{
                    employee.street }}</p>
                <p class="card-text"><strong>Employment Status:</strong> {{
                    employee.employment_status }}</p>
                <p>
                    <a href="#" class="btn btn-sm btn-info">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}